body {
  background-image: url("RealEstateWebsiteBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    height: 150px;
  }

  .Posh_House img{
    height: 600px;
    width: 1000px;
  }

  .Services img{
    height: 300px;
    width: 500px;
  }

  .Listings-container {
    display: flex;
  }

  .Listings-wrapper {
    margin-right: 20px;
    text-align: center;
  }
  
  .Listings-wrapper img {
    width: 300px; 
    height: 200px;
    margin-right: 10px; 
  }

  .Listings-wrapper p {
    margin-top: 5px;
    color: #333; 
  }
  
  .FollowUs-container {
    display: flex;
  }
  
  .FollowUs-container img {
    width: 100px; 
    margin-right: 10px; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: cream;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  